<ion-view class="activity-view" ng-controller="activityCtrl">
    <ion-content class="dark">

      <ion-refresher spinner="ripple" pulling-text="Pull to refresh" on-refresh="doRefresh()"  ></ion-refresher>

      <ion-list>
        <ion-item class="item-dark card" ng-repeat="activity in activities">
          <div class="row">
            <div class="profile-img col"><img class="profile-img" src="{{activity.profile}}"></div>
            <div class="info col col-80">
              <h2> {{activity.name}} is listening to {{activity.title}} at {{activity.location}}</h2>
              <p>{{activity.message}}</p>
            </div>
          </div>
          <div class="row">
             <div class="socialtype col col-20"><i class="icon ion-social-{{activity.socialtype}}"></i> </div>
             <div class="timestamp col col-offset-50"> {{activity.time}}</div>
          </div>
        </ion-item>
      </ion-list>

    </ion-content>
 </ion-view>
