<ion-view class="history-view" ng-controller="historyCtrl">
    <ion-content class="dark">

      <ion-list>
        <ion-item class="item-dark card" href="#/app/history/songs" ng-repeat="visit in visits">
          <div class="row">
            <div class="profile-img col"><img class="profile-img" src="{{visit.profile}}"></div>
            <div class="info col col-50">
              <h2>{{visit.name}}</h2>
              <p>{{visit.location}}</p>
            </div>
            <div class="timestamp col"><span class="bottom"> {{visit.time}} </span></div>
          </div>
        </ion-item>
      </ion-list>

    </ion-content>
 </ion-view>
