<ion-view class="history-detail-view">
    <ion-content class="dark">
      <ion-list>
        <ion-item class="item-dark card item-button-right">
          <div class="album row">
            <div class="cover col"> <img src="img/cover.jpg"></div>
            <div class="info col">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
            </div>
            <div class="timestamp col">
              <span class="bottom"> Played at 11:00 </span>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-dark card item-button-right">
          <div class="album row">
            <div class="cover col"> <img src="img/cover.jpg"></div>
            <div class="info col">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
            </div>
            <div class="timestamp col">
              <span class="bottom"> Played at 11:03 </span>
            </div>
          </div>
        </ion-item>

      </ion-list>

    </ion-content>
 </ion-view>
