<ion-view class="intro-view" ng-controller="introCtrl">
  <ion-slide-box show-pager="true" active-slide="activeSlide">
    <ion-slide>
      <h3 id="change">Welcome to</h3>
      <div id="logo">
        <img src="img/choona-animated.svg" height="50%" width="50%" />
      </div>
      <h3 id="change">Choona</h3>
      <br />
      <p class="choone">A Crowd Controlled Jukebox</p>
      <div class="newButton button-full button-light">
        <p class="choone">
          <i class="ion-chevron-right"></i>
          <i class="ion-chevron-right"></i>
          <i class="ion-chevron-right"></i>
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="img/choona-animated.svg" height="10%" width="10%"/><br/><br/>
      <div class="preview"></div>
      <p class="choone">Choone into the music you want...</p>
      <div class="newButton button-full button-light">
        <p class="choone">
          <i class="ion-chevron-right"></i>
          <i class="ion-chevron-right"></i>
          <i class="ion-chevron-right"></i>
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="img/choona-animated.svg" height="10%" width="10%"/><br/><br/>
      <div class="preview_map"></div>
      <p class="choone">...wherever you are</p>
      <div class="newButton button-full button-light" ng-click="finishedTutorial()">
        <p class="choone">
          Sign In
          <i class="ion-chevron-right"></i> 
          <i class="ion-chevron-right"></i> 
          <i class="ion-chevron-right"></i>
        </p>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>