<div class="modal nowplaying-modal">
  <ion-content class="nowplaying-view" scroll="false">
    <div class="cover-full" ng-style="{ 'background-image': 'url(' + status.playing.track.cover.large + ')' }">
      <button class="button button-clear button-light" ng-click="closeModal()"><i class="icon ion-close"></i></button>
      <button class="button round-overlay-button"><i class="icon ion-android-share-alt"></i></button>
    </div>

    <div class="nowplaying-info">
      <h2>{{status.playing.track.title}}</h2>
      <p>{{status.playing.track.artist}}</p>
    </div>
    <div class="song-time row">
      <div class="elapsed col">{{progressTime.format("m:ss")}}</div>
      <div class="remaining col">{{"-" + timeRemaining.format("m:ss")}}</div>
    </div>
    <div class="scrubber">
      <div class="progress" ng-style="{ 'width': progressPercent + '%' }">
        <div class="circle"></div>
      </div>
    </div>
  </ion-content>
</div>
