<div class="modal nowplaying-modal">
      <ion-content class="nowplaying-view" scroll="false">
        <div class="cover-full">
        <button class="button button-clear button-light" ng-click="closeModal()"><i class="icon ion-close"></i></button>
        <button class="button round-overlay-button"> <i class="icon ion-android-share-alt"></i></button>
      </div>

        <div class="nowplaying-info">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </div>
        <div class="song-time row">
          <div class="elapsed col">1:00</div>
          <div class="remaining col">-3:00</div>
        </div>
        <div class="scrubber">
          <div class="progress">
            <div class="circle"></div>
          </div>
        </div>
      </ion-content>
</div>
