.playlist-view {

  /* Spinner and pull to refresh style */

  .ion-android-arrow-down{
    color:#fe6718;
  }

  .text-pulling{
    color:#fff;
  }

  .spinner svg{
    stroke: #fe6718;
    fill: #fe6718;
  }

  ///////////////////////////////////////

  /* Global Styles for page */

  .dark{
    background-color:#191919;
  }

  h2, p {
    color:#ffffff;
  }

  ///////////////////////////////////////

  /* Playlist place image */

  .slider, .slider-slide {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  ///////////////////////////////////////

  /* Global List styles */

  .list {
    padding-bottom: 68px;
  }

  .card{
   box-shadow:0 0px 2px rgba(254, 103, 24, 0.5);
   margin:10px 0px;
  }

  .item{
    padding:2px;
    padding-top: 0px;
    padding-bottom:0px;

    h2 {
      margin-top: 3px;
    }
  }

  ///////////////////////////////////////

  /* Vote meter css

  Bars are swapped here, i.e. votemeter is green and votemeter div is red

  */

  .votemeter{
    position:absolute;
    top:0px;
    left:0px;
    background:#33cd5f;
    width:4px;
    height:70px;
  }

  .votemeter div {
    background:#cc2311;
    bottom:0px;
  }

  ///////////////////////////////////////

  /* Cover */

  .album > .cover {
    max-height:60px;
    max-width:60px;
    padding:2px;
  }

  .album > .cover img {
    width:55px;
    height:55px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  ///////////////////////////////////////

  /* Album info */

  .info{
    padding-left:15px;
    font-size:10px;
  }

  ///////////////////////////////////////

  /* Vote Buttons */

  .vote {
    max-width:110px;
    width:110px;
    max-height:inherit;
    height:inherit;
    padding:8px 0 8px 10px;

    .button {
      min-width:42px;
      min-height:42px;
      width:42px;
      height:42px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      padding:0px;
    }

    .button-assertive{
      margin-left:8px;
    }
  }


  ///////////////////////////////////////

  /* Now playing Bar */

  .nowplaying {
    background: rgba(254, 103, 24, 0.9);
    position: fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    overflow: hidden;
  }

  .nowplaying > .album {
    border-top: 1px solid #fe6718;
  }

  .nowplaying-info {
    padding-left: 10px;
    margin-top: 9px;
  }

  .nowplaying-info h2 {
    font-size: 15px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nowplaying-info p{
    font-size: 13px;
    color:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nowplaying-cover {
    max-height:60px;
    max-width:60px;
    padding:2px;
    margin-left: 2px;
  }

  .nowplaying-cover img {
    width:55px;
    height:55px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .playingicon img{
    position:fixed;
    bottom:10px;
    right:5px;
    width:40px;
    height:40px;
  }

  .progress-container {
    box-sizing: border-box;
    position: relative;
    margin-left: 15px;
    margin-right: 50px;
    height: 37px;

    .underbar {
      width: 100%;
      height: 15px;
      bottom: 0;
      background-color: rgba(40, 40, 40, 0.5);
      left: 0;
      position: absolute;
    }

    .progress-bar {
      height: 15px;
      background-color: rgba(254, 163, 84, 1);
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 10;
    }
  }

  .empty-queue {
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 20px;

    .button {
      font-size: 30px;
      vertical-align: middle;
      color: white;
      margin-bottom: 3px;
    }
  }

}