.intro-view {

  .slider-pager{
    top: 0;
	   bottom: initial;
  }

  .slider-pager {
    display:inline;
  }

  .slider-box{
    color:#191919;
  }

  .slider {
    height: 100%;
    background: #191919;
    display:inline;
  }

  .slider-slide {
    padding-top: 80px;
    color: #999;
    background-color: #191919;
    text-align: center;
    font-weight: 300;
  }

  #logo {
    margin: 30px 0px;
  }

  #list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
  }
  #list ol {
    margin-top: 30px;
  }
  #list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
  }

  #change{
    color:#FFF;
    font-size:50px;
  }

  .preview{
    margin-left:auto;
    margin-right:auto;
    margin:50px, 50px, 50px, 50px;
    background-image: url("../img/intro_1.png");
    background-position:center;
    background-size:cover;
    border-radius:50% 50% 50% 50%;
    width: 300px;
    height: 300px;
  }

  .preview_map{
    margin-left:auto;
    margin-right:auto;
    margin:50px, 50px, 50px, 50px;
    background-image: url("../img/map_1.png");
    background-position:center;
    background-size:cover;
    border-radius:50% 50% 50% 50%;
    width: 300px;
    height: 300px;
  }


  .choone{
    padding:40px;
    font-size:20px;

  }

  .newButton{
    background-color:#191919;
    border-color:#fe6718;
    color:#fe6718;
    position:fixed;
    bottom: 20px;
    width: 100%;

  }

  //TODO Move font to global
  .logButton{
    background-color:#fe6718;
    border-color:#fe6718;
    color:#191919;
    font-family:"lato";
    font-size:20px;

  }


  .ion-ios-circle-outline{
    color:#fe6718;
  }

  .ion-record{
    color:#fe6718;
  }

  .item-floating-label{
    color:#fe6718;
    border-color:#191919;
    text-align:center;
    padding-left:50px;
    padding-top:10px;
    padding-bottom:10px;
  }

  .buttonSign{
    background-color:#191919;
    border-color:#fe6718;
    color:#fe6718;
  }

  .labelText{
    color:#999;
    font-size:18px;
    font-family:"lato";
    text-align:center;
  }

  .labeldiv{
    position:relative;
  }

  .labeldiv .icon {
    position:absolute;
    left:0px;
    padding:8px;
    display:inline-block;
    line-height:20px;
  }

  .boxes{
    padding-left:15px;
    padding-right:15px;
  }

  .id{
    color:#999;
    font-size:30px;
    padding-top:0;
  }

  .ion-social-facebook{
    color:#fff;
    font-size:25px;
  }


  button#facebook {
      border-color: #2d5073;
      background-color: #3b5998;
      color:#fff;
      font-family:"lato";
  }

  hr{
  background-color:#fe6718;
  border-color:#fe6718;
  height: 0.2px;
  }

  .padder{
    padding-top:20px;
  }


}
