.playlist-view {

  /* Spinner and pull to refresh style */

  .ion-android-arrow-down{
    color:#fe6718;
  }

  .text-pulling{
    color:#fff;
  }

  .spinner svg{
    stroke: #fe6718;
    fill: #fe6718;
  }

  ///////////////////////////////////////

  /* Global Styles for page */

  .dark{
    background-color:#191919;
  }

  h2, p {
    color:#ffffff;
  }

  ///////////////////////////////////////

  /* Playlist place image */

  .headerimg img {
    width:100%;
  }

  ///////////////////////////////////////

  /* Global List styles */

  .card{
   box-shadow:0 0px 2px rgba(254, 103, 24, 0.5);
   margin:10px 0px;
  }

  .item{
    padding:2px;
    padding-top: 0px;
    padding-bottom:0px;
  }

  ///////////////////////////////////////

  /* Vote meter css

  Bars are swapped here, i.e. votemeter is green and votemeter div is red

  */

  .votemeter{
    position:absolute;
    top:0px;
    left:0px;
    background:#33cd5f;
    width:4px;
    height:70px;
  }

  .votemeter div {
    background:#cc2311;
    height:50px;
    bottom:0px;
  }

  ///////////////////////////////////////

  /* Cover */

  .album > .cover {
    max-height:60px;
    max-width:60px;
    padding:2px;
  }

  .album > .cover img {
    width:55px;
    height:55px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  ///////////////////////////////////////

  /* Album info */

  .info{
    padding-left:15px;
    font-size:10px;
  }

  .info h2{
    word-wrap:break-word;
    white-space:normal;
  }

  ///////////////////////////////////////

  /* Vote Buttons -- TODO: For some reason they dont resize! */

  .vote {
    max-width:110px;
    line-height:20px;
  }

  .button {
    width:36px;
    height:36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }

  ///////////////////////////////////////

  /* Now playing Bar */

  .np-wrap{
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    z-index:100;
    background-color: #fe6718;
  }

  .nowplaying h2 {
    font-size: 14px;
    color:#fff;
    margin-left: 80px;
  }

  .nowplaying p{
    font-size: 12px;
    color:#fff;
    margin-left: 80px;
    line-height: 1px;
  }

  .nowplaying .cover {
    position:fixed;
    width:55px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    left: 10px !important;
    bottom:7px;
  }

  .playingicon img{
    position:fixed;
    bottom:7px;
    right:5px;
    width:40px;
    height:40px;

  }

}
