
/* Font! */

@font-face{
  font-family: 'bonveno';
  src:url("BonvenoCF-Light.otf");
}

body{
    font-family: bonveno;
}


.title1{
  font-size:20px;
  font-weight:bold;
  text-align: center;
}

.textcenter{
  text-align: center;
}

#name{
  position:absolute;
  margin-top:70px;
  left:22%;
}


.profile img {
	height:150px;
}

#location{
  position:absolute;
  margin-top: 270px;
  left:32%;
}

.iconloc{
  content: url("../img/pin.png");
  width:14px;
}

.play{
  content: url("../img/next.png");
  width:14px;
}

.activity{
  content: url("../img/eco.png");
  width:14px;
}

.history{
  content: url("../img/history.png");
  width:14px;
}

.settings{
  content: url("../img/settings.png");
  width:14px;
}

/* Vote meter css */

.votemeter{
	position:absolute;
	top:0px;
	left:0px;
	background:#cc2311;
	width:4px;
	height:100px;
}

/* Playlist place image */

.headerimg img {
  width:100%;
}

/* Custom Playlist List Style */

.choonaitem{

/* base item css */
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

a.choonaitem{

}

/* Cover */

.cover{
  position:absolute;
  left:10px !important;
  width:82px;
}
